<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header",{title:title}) %>
  <body>
    <main class="flex-column err-holder">
      <a href="/" class="backHome">Back to Home</a>
      <h1><%= title %></h1>
    </main>
  </body>
</html>
