<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header",{title:title}) %>
  <body>
    <h1 class="new-msg">Create New Message</h1>
    <form action="/new" method="POST" class="flex-column">
      <label for="userName">User Name </label>
      <input type="text" id="useName" name="userName" />
      <label for="userMsg">Text </label>
      <input type="text" id="userMsg" name="userMsg" />
      <button type="submit" class="submitBtn">Add post</button>
    </form>
  </body>
</html>
